body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:12px;
  background-image:url(../images/question_creation_background.png);
}

h1 {
  font-size:36px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

form {
	width:600px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

div {
	clear: both;
	margin: 0 10px;
}

.area {
	color: black;
	background-color: transparent;
	margin:0px;
	width:100%;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size:16px;
}

input[type=text] {
 	width:100%;
  padding:8px 5px;
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
}

.buttonHolder{ text-align: center; }

input[type=submit] {
 	padding:10px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  color:white;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

.buttons {
    background-color: #808000; 
    border: none;
    color: white;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
	margin-top:15px;
	margin-left:5px;
	margin-bottom:3px;
}

.options {
	background-color:white;
	margin:0px;
}

/*********** RADIO BUTTONS ******************/

[type='radio'] {
	display:none;
}

label {
  color:gray;
  font-style:oblique;
  width: 250px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
}

[type='radio']:checked + label {
	border: 3px solid #C63;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	color: #9CE2AE;
	text-indent: .9em;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #777;
  	font-weight:bold;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}